#mapa{
  display: inline-block;
  margin: 50vh 50%;
}

.linea{
  display: flex;
  flex-wrap: nowrap;
}
.celda{
  width: 50px;
  height: 50px;
  margin: .5rem;
  background-color: lightgrey;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-weight: bold;
}
.abierto{
  background-color: rgb(119, 119, 119);
}
.explotado{
  background-color: red;
}
.celda>.valor-1{
  color: blue
}
.celda>.valor-2{
  color: green;
}
.celda>.valor-3{
  color: red;
}
.celda>.valor-4{
  color: purple;
}
.celda>.valor-5{
  color: maroon;
}
.celda>.valor-6{
  color: turquoise;
}
.celda>.valor-7{
  color: black;
}
.celda>.valor-8{
  color: gray;
}

.celda>img{
  width: 100%;
}
