#mapa{
  display: inline-block;
  margin: 50vh 50%;
}

.linea{
  display: flex;
  flex-wrap: nowrap;
}
.celda{
  width: 50px;
  height: 50px;
  margin: .1rem;
  background-color: rgb(44, 44, 44);
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-weight: bold;
  font-size: 1.5rem;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.celda:not(.abierto){
  color: white;
}
.abierto{
  background-color:  lightgrey;
  -moz-box-shadow:    inset 0 0 10px #242424;
  -webkit-box-shadow: inset 0 0 10px #242424;
  box-shadow:         inset 0 0 10px #242424;

}
.explotado{
  background-color: red;
}
.celda>.valor-1{
  color: blue;
}
.celda>.valor-2{
  color: green;
}
.celda>.valor-3{
  color: red;
}
.celda>.valor-4{
  color: purple;
}
.celda>.valor-5{
  color: maroon;
}
.celda>.valor-6{
  color: turquoise;
}
.celda>.valor-7{
  color: black;
}
.celda>.valor-8{
  color: gray;
}

.celda>img{
  width: 100%;
}
